.container {
  margin: 20px;
  position: relative;
  text-align: center;
  width: 200px;
}

.img-podcasts {
  border-radius: 50%;
  width: 90px;
}

.link-card  {
  text-decoration: none;
  color: inherit;
}

.container-image {
  margin-bottom: -45px;
}

.container-details {
  box-shadow: 0px 0px 10px rgba(192, 192, 192);
  padding: 40px 6px 2px 6px;
  border-radius: 5px;
  min-height: 110px;
}

.details-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.details-artist {
  font-size: 14px;
  color: #5b5b5b;
}
